h1 {
	color: blue;
	font-size: 50px;
}

p {
	color: red;
}

blockquote {
	font-style: bold;
}
img{
	width: 30px;
}

ArticleNum{
	width: 100%} /*ho aggiunto questo per far aprire l'articolo su tutta la pagina quando clicchi sul bottone change article cover*/


.bottom {
  text-align: justify;
  text-align: center;
  padding: 1em;
  background: rgba(38, 38, 38);
  color: white;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
}
.bottom a{text-decoration: none;}
.bottom a:link{color:white;}
.bottom a:hover{color:white;}
.bottom a:active{color:white;}
.bottom a:visited{color:white;}
