@font-face {
  font-family: Bayer Sans;
  src: url("bayer-sans.ttf");
  
}
@font-face {
  font-family: 'Bauhaus 93';
  src: url("bauhaus93.ttf"); 
}
h1, .byline{
  font-family: 'Bauhaus 93';
}

/* stile per cover page*/

body#cover{
	background-image: url('bauhaus_sfondo.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Bauhaus 93';
}
p{text-align: justify;}

body{
	background-image: 
    linear-gradient(
      rgba(255, 255, 240, 0.5), 
      rgba(255, 255, 240, 0.5)
    ),
    url('bauhaus_sfondo.jpg');
    font-family: Bayer Sans;
    font-weight:normal;
	font-style:normal;
	margin-right: 20vW;
	margin-left: 30vW;
	margin-top: 20vW;
	margin-bottom: 30vW;
}
p:first-child:first-letter{
	text-indent: 2em;
	font-family: 'Bauhaus 93'
}