/* 
body {
  font: 75%/1.5em Bayer Sans, san-serif;
  max-width: 40.49984em;
  color: rgb(0,0,0);
  margin: 0 auto;
  padding: 1em;
}
*/
@font-face {
  font-family: Bayer Sans;
  src: url("bayer-sans.ttf");
  
}
@font-face {
  font-family: Bauhaus 93;
  src: url("bauhaus93.ttf"); 
}
h1, .byline{
  font-family: "Bayer Sans";
}

/* stile per cover page*/

body#cover{
	background-image: url('bauhaus_sfondo.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Bayer Sans';
}
p{text-align: justify;}